<h1>Edit Book Form</h1>
<%= form_for @book do |form|%>

<p>
<%=form.label :title%><br>
<%=form.text_field :title%>
</p>

<p>
<%=form.label :isbn%><br>
<%=form.text_field :isbn%>
</p>

<p>
<%=form.label :year%><br>
<%=form.text_field :year%>
</p>

<p>
<%= form.submit%>
</p>

<% end %>