<h1>All Books List</h1>

<table>
<tr>
<th>Book Name</th>
<th>ISBN</th>
<th>Publisher</th>
<th>Year Published</th>
</tr>

<% @books.each do |book|%>
<tr>
<td><%=book.book_name%></td>
<td><%=book.book_ISBN%></td>
<td><%=book.book_publisher%></td>
<td><%=book.book_year%></td>
<td><%= link_to 'Details',book_path(book) %></td>
</tr>
<%end%>
</table>