<h1>New Book</h1>

<%= form_with scope: :book, url: books_path, local: true do |form| %>

<p>
<%= form.label :book_name%><br>
<%= form.text_field :book_name%>
</p>

<p>
<%= form.label :book_ISBN%><br>
<%= form.text_field :book_ISBN%>
</p>

<p>
<%= form.label :book_publisher%><br>
<%= form.text_field :book_publisher%>
</p>

<p>
<%= form.label :book_year%><br>
<%= form.text_field :book_year%>
</p>

<p>
<%= form.submit%>
</p>

<% end %>